<!DOCTYPE html><html><head><title>预订需知</title><meta charset='utf-8'><link href='https://dn-maxiang.qbox.me/res-min/themes/marxico.css' rel='stylesheet'><style></style></head><body><div id='preview-contents' class='note-content'>
                        
                    



<h1 id="预订需知">预订需知</h1>

<ol><li rel="1">CHAO活所有可供预订的价格仅为平台用户本人预订且本人入住方可使用；用户不能通过个人或组织等以任何形式进行线上线下二次销售，一旦发现查证，CHAO活有权取消预订及限制用户活动。</li>
<li rel="2">由于部分酒店单人入住和双人入住存在价格差异，为了不必要的纠纷，请准确填写入住人数（儿童除外）。</li>
<li rel="3">若携带儿童入住，早餐等额外收费情况请咨询酒店。</li>
<li rel="4">预定通常只保留到当天下午18:00，若房态紧张或晚于18：00到店，需提供信用卡担保。</li>
<li rel="5">支付成功后，CHAO活会在2个小时内通过电话或短信方式告知您预定结果。</li>
<li rel="6">若您的行程有变动需取消预定，请于入住前一天14:00点前提出，将免费帮您取消；若超过最晚取消时间可能会扣取一部分积分。</li>
<li rel="7">CHAO活所有产品均为CHAO伙伴提供，您在前台办理入住时请直接报名字或预订号办理，无需提及预定渠道。</li>
<li rel="8">如有任何疑问，请拨打我们的客服热线：0574-87648766（工作时间9:00–21:00）</li>
<li rel="9">针对以下情况CHAO活也将保留拒绝或取消您订单的权利甚至是法律上的责任追溯 <br>
 <font>(1) 宾客涉及欺诈或不当行为</font> <br>
 (2) 预订中包含恶意的错误信息 <br>
 (3) 利用后台漏洞篡改房价或其它违规操作；</li>
</ol></div></body></html>