<!DOCTYPE html><html><head><title>用户服务协议</title><meta charset='utf-8'><link href='https://dn-maxiang.qbox.me/res-min/themes/marxico.css' rel='stylesheet'><style></style></head><body><div id='preview-contents' class='note-content'>
                        
                    

<h1 id="用户服务协议">用户服务协议</h1>

<h2 id="一定义条款">一、定义条款</h2>

<p>1.1. <strong>CHAO活</strong>：是指由浙江超梦时代科技有限公司开发、运营和管理的基于移动互联网的网络服务平台；本协议下文中，<strong>CHAO活</strong>既指该款基于移动互联网的应用，亦指<strong>浙江超梦时代科技有限公司</strong>。 <br>
1.2. “用户”：是指接受并同意本协议全部条款及<strong>CHAO活</strong>发布的其他全部服务条款和操作规则、通过<strong>CHAO活</strong>进行酒店预订消费的<strong>CHAO活</strong>注册会员。 <br>
1.3. “酒店”：通过<strong>CHAO活</strong>发布酒店房间/服务信息、向用户提供酒店房间/服务的自然人、法人和其他组织。 <br>
二、用户注册 <br>
2.1. 注册资格用户承诺：用户具有完全民事权利能力和行为能力或虽不具有完全民事权利能力和行为能力但经其法定代理人同意并由其法定代理人代理注册及应用<strong>CHAO活</strong>服务。 <br>
2.2. 注册目的用户承诺：用户进行用户注册并非出于违反法律法规或破坏<strong>CHAO活</strong>网络交易秩序的目的。</p>

<h2 id="三用户服务">三、用户服务</h2>

<p><strong>CHAO活</strong>为用户通过<strong>CHAO活</strong>进行交易活动提供移动互联网交易平台服务，目前<strong>CHAO活</strong>对用户提供的<strong>CHAO活</strong>网络交易平台服务为服务加现金。</p>



<h3 id="31-服务内容">3.1. 服务内容</h3>

<p>3.1.1. 用户有权在<strong>CHAO活</strong>浏览酒店，酒店客房以及相关服务的信息、有权通过<strong>CHAO活</strong>与酒店达成消费行为、支付客房费/服务价款、获得电子消费凭证（如有）等。 <br>
3.1.2. 用户有权在<strong>CHAO活</strong>查看其<strong>CHAO活</strong>会员账号下的信息，有权应用<strong>CHAO活</strong>提供的功能进行操作。 <br>
3.1.3. 用户有权按照<strong>CHAO活</strong>发布的活动规则参与<strong>CHAO活</strong>组织的活动。</p>



<h3 id="32-服务规则用户承诺遵守下列chao活服务规则">3.2. 服务规则用户承诺遵守下列<strong>CHAO活</strong>服务规则：</h3>

<p>3.2.1. 用户应当遵守法律法规、规章、规范性文件及政策要求的规定，不得在<strong>CHAO活</strong>或利用<strong>CHAO活</strong>服务从事非法或其他损害<strong>CHAO活</strong>或酒店方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息，发送或接收传销材料或存在其他危害的信息或言论，未经<strong>CHAO活</strong>授权使用或伪造<strong>CHAO活</strong>电子邮件题头信息等。 <br>
3.2.2. 用户应当遵守法律法规应当谨慎合理使用和妥善保管今晚睡酒HotelsNow店账号及密码，对其<strong>CHAO活</strong>账号和密码下进行的行为和发生的事件负责。当用户发现<strong>CHAO活</strong>账号被未经其授权的第三方使用或存在其他账号安全问题时应立即有效通知<strong>CHAO活</strong>，要求<strong>CHAO活</strong>暂停该<strong>CHAO活</strong>账号的服务，并向公安机关报案。<strong>CHAO活</strong>有权在合理时间内对用户的该等请求采取行动，但对采取行动前用户已经遭受的损失不承担任何责任。用户在未经<strong>CHAO活</strong>同意的情况下不得将<strong>CHAO活</strong>账号以赠与、借用、租用、转让或其他方式处分给他人。 <br>
3.2.3. 用户通过<strong>CHAO活</strong>与酒店进行线下消费时，应当遵守本协议的全部约定及<strong>CHAO活</strong>发布的其他服务条款和操作规则的全部规定。 <br>
3.2.4.用户在<strong>CHAO活</strong>对酒店，酒店客房以及相关服务进行评价时应当根据实际情况如实进行评价。</p>



<h2 id="四消费支付规则用户承诺在其通过chao活与商家进行线下消费的过程中良好遵守如下消费支付规则">四、消费支付规则用户承诺在其通过<strong>CHAO活</strong>与商家进行线下消费的过程中良好遵守如下消费支付规则：</h2>

<p>4.1. 浏览商家信息，用户在<strong>CHAO活</strong>浏览酒店，酒店客房以及相关服务时，应当仔细阅读酒店信息中包含的全部内容，包括但不限于酒店，房型、数量、质量、价格、有效期、预约时间、酒店地址、营业时间等内容，其中用户应特别注意酒店，酒店客房以及相关服务的有效期、预约时间等内容，用户完全接受商家信息中包含的全部内容后方可消费。 <br>
4.2用户应当仔细阅读酒店，酒店客房以及相关服务页面中所包含的全部内容，包括但不限于商家信息中的全部内容、为再次提示用户注意而标明的酒店，酒店客房以及相关服务的有效期、预约时间等内容（如有），选择及确认消费总额等内容。前述页面中所包含的全部内容，构成了用户与商家之间达成的消费的合同内容，用户完全同意后方可消费。 <br>
4.3 通常情况下用户与酒店之间通过<strong>CHAO活</strong>进行消费时，是通过积分加现付形式进行消费的。通常情况下并不产生退费情况。但若由于酒店或者<strong>CHAO活</strong>原因导致订单未完成的，用户有权要求<strong>CHAO活</strong>进行退款。通常情况下用户与酒店之间通过<strong>CHAO活</strong>进行消费时，是面对面确认消费相关信息的，不存在退款情境，此前提下发生以下情形的，用户有权要求<strong>CHAO活</strong>代酒店进行退款：用户已实际消费酒店，酒店客房以及相关服务的，无权要求<strong>CHAO活</strong>进行退款，但酒店，酒店客房以及相关服务存在其他严重质量问题或违反《网络交易管理办法》、《中华人民共和国食品安全法》、《中华人民共和国消费者权益保护法》的除外。 <br>
4.4. 消费支付争议解决规则如用户与商家因消费合同的履行发生任何争议，包括但不限于对酒店，酒店客房以及相关服务的数量、质量、房型、价格、有效期、预约时间、酒店地址、退款条件等问题发生争议的，用户应与酒店根据消费合同内容的约定确定用户与商家各自的权利义务，承担各自的责任，解决争议。<strong>CHAO活</strong>可协助用户与商家之间争议的协商调解。</p>



<h2 id="五用户的权利和义务">五、用户的权利和义务</h2>

<p>5.1. 用户有权按照本协议约定接受<strong>CHAO活</strong>提供的<strong>CHAO活</strong>网络交易平台服务。 <br>
5.2. 如用户要求获得酒店，酒店客房以及相关服务的发票、其他付款凭证或服务单据，有权且应当在对酒店，酒店客房以及相关服务进行消费时向<strong>CHAO活</strong>提出，发票金额以实际支付的消费款为准（不含优惠券支付部分），<strong>CHAO活</strong>将在10个工作日内将发票以快递的形式向消费者发放。 <br>
5.3. 用户在消费酒店，酒店客房以及相关服务的过程中，酒店，酒店客房以及相关服务在平台中展示的内容不符或存在质量等其他问题的，应与酒店采取协商或其他方式予以解决，<strong>CHAO活</strong>可向用户提供商家的真实网站登记信息并积极协助用户与酒店解决争议。 <br>
5.4. 用户有权随时终止使用<strong>CHAO活</strong>服务。 <br>
5.5. 用户应保证其在注册时和预约消费时所提供的姓名、联系方式等全部信息真实、完整、准确，并当上述信息发生变更时及时进行更新提供给<strong>CHAO活</strong>的信息。 <br>
5.6. 用户在<strong>CHAO活</strong>进行交易时不得恶意干扰<strong>CHAO活</strong>的正常进行、破坏<strong>CHAO活</strong>运营秩序。 <br>
5.7. 用户不得以任何技术手段或其他方式干扰<strong>CHAO活</strong>的正常运行或干扰其他用户对<strong>CHAO活</strong>服务的使用。 <br>
5.8. 用户不得以虚构事实等方式恶意诋毁<strong>CHAO活</strong>或商家的商誉。 <br>
5.9. 用户通过<strong>CHAO活</strong>进行交易应出于真实消费目的，不得以转售等商业目的进行交易。  <br>
5.10. 用户不得对酒店，酒店客房以及相关服务进行虚假评价或虚假投诉。 </p>



<h2 id="六chao活的权利和义务">六、<strong>CHAO活</strong>的权利和义务</h2>

<p>6.1. 如用户不具备本协议约定的注册资格，则<strong>CHAO活</strong>有权拒绝用户进行注册，对已注册的用户有权注销其<strong>CHAO活</strong>会员账号，<strong>CHAO活</strong>因此而遭受损失的有权向前述用户或其法定代理人主张赔偿。同时，<strong>CHAO活</strong>保留其他任何情况下决定是否接受用户注册的权利。  <br>
6.2. <strong>CHAO活</strong>发现账户使用者并非账户初始注册人时，有权中止该账户的使用。  <br>
6.3. <strong>CHAO活</strong>通过技术检测、人工抽检等检测方式合理怀疑用户提供的信息错误、不实、失效或不完整时，有权通知用户更正、更新信息或中止、终止为其提供<strong>CHAO活</strong>的服务。  <br>
6.4. <strong>CHAO活</strong>有权在发现<strong>CHAO活</strong>上显示的任何信息存在明显错误时，对信息予以更正。  <br>
6.5. <strong>CHAO活</strong>保留随时修改、中止或终止<strong>CHAO活</strong>服务的权利，<strong>CHAO活</strong>行使修改或中止服务的权利不需事先告知用户，<strong>CHAO活</strong>终止<strong>CHAO活</strong>一项或多项服务的，终止自<strong>CHAO活</strong>在网站上发布终止公告之日起生效。  <br>
6.6. <strong>CHAO活</strong>应当采取必要的技术手段和管理措施保障<strong>CHAO活</strong>的正常运行，并提供必要、可靠的交易环境和交易服务，维护交易秩序。  <br>
6.7 <strong>CHAO活</strong>有权在本协议履行期间及本协议终止后保留用户的注册信息及用户应用<strong>CHAO活</strong>服务期间的全部交易信息，但不得非法使用该信息。  <br>
6.8. <strong>CHAO活</strong>有权随时删除<strong>CHAO活</strong>网站内各类不符合国家法律法规、规范性文件或<strong>CHAO活</strong>网站规定的用户评价等内容信息，<strong>CHAO活</strong>行使该类权利不需提前通知用户。 </p>



<h2 id="七特别声明">七、特别声明</h2>

<p>7.1. 用户未通过<strong>CHAO活</strong>与酒店之间进行的交易，<strong>CHAO活</strong>对此交易的交易事项不承担任何责任，用户不得因其与商家之间因此类交易发生的任何争议投诉<strong>CHAO活</strong>或要求<strong>CHAO活</strong>承担任何责任。  <br>
7.2. 不论在何种情况下，<strong>CHAO活</strong>对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务不承担责任。  <br>
7.3. 为了用户更加方便和安全的使用<strong>CHAO活</strong>的服务，<strong>CHAO活</strong>将使用cookie，收集用户与<strong>CHAO活</strong>站点有关的特征信息，用于标识用户的设备。同时，<strong>CHAO活</strong>会积极采取先进的技术手段和有效的管理机制来保障用户的账户安全，保障用户的隐私信息不被任何未授权的使用或者泄露。 </p>



<h2 id="八知识产权">八、知识产权</h2>

<p>8.1. <strong>CHAO活</strong>所包含的全部智力成果包括但不限于数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，软件编译、相关源代码和软件 (包括小应用程序和脚本) 的知识产权权利均归<strong>CHAO活</strong>所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。  <br>
8.2. <strong>CHAO活</strong>名称中包含的所有权利 (包括商誉和商标) 均归<strong>CHAO活</strong>所有。  <br>
8.3. 用户接受本协议即视为用户主动将其在<strong>CHAO活</strong>发表的任何形式的信息的著作权，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利无偿独家转让给<strong>CHAO活</strong>所有，<strong>CHAO活</strong>有权利就任何主体侵权单独提起诉讼并获得全部赔偿。本协议属于《中华人民共和国著作权法》第二十五条规定的书面协议，其效力及于用户在<strong>CHAO活</strong>发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。  <br>
8.4. 用户在使用<strong>CHAO活</strong>服务过程中不得非法使用或处分<strong>CHAO活</strong>或他人的知识产权权利。用户不得将已发表于<strong>CHAO活</strong>的信息以任何形式发布或授权其它网站（及媒体）使用。 </p>



<h2 id="九客户服务">九、客户服务</h2>

<p><strong>CHAO活</strong>建立专业的客服团队，并建立完善的客户服务制度，从技术、人员和制度上保障用户提问及投诉渠道的畅通，为用户提供及时的疑难解答与投诉反馈。 </p>



<h2 id="十协议的变更和终止">十、协议的变更和终止</h2>

<p>10.1. 协议的变更 <strong>CHAO活</strong>有权随时对本协议内容或<strong>CHAO活</strong>发布的其他服务条款及操作规则的内容进行变更，变更时<strong>CHAO活</strong>将在<strong>CHAO活</strong>站内显著位置发布公告，变更自公告发布之时生效，如用户继续使用<strong>CHAO活</strong>提供的服务即视为用户同意该等内容变更，如用户不同意变更后的内容则用户有权注销<strong>CHAO活</strong>账户、停止使用<strong>CHAO活</strong>服务。  <br>
10.2. 协议的终止  <br>
10.2.1. <strong>CHAO活</strong>有权依据本协议约定注销用户的<strong>CHAO活</strong>账号，本协议于账号注销之日终止。  <br>
10.2.2. <strong>CHAO活</strong>有权依据本协议约定终止全部<strong>CHAO活</strong>服务，本协议于<strong>CHAO活</strong>全部服务终止之日终止。  <br>
10.2.3. 本协议终止后，用户无权要求<strong>CHAO活</strong>继续向其提供任何服务或履行任何其他义务，包括但不限于要求<strong>CHAO活</strong>为用户保留或向用户披露其原<strong>CHAO活</strong>账号中的任何信息，向用户或第三方转发任何其未曾阅读或发送过的信息等。  <br>
10.2.4. 本协议的终止不影响守约方向违约方追究违约责任。 </p>



<h2 id="十一违约责任">十一、违约责任</h2>

<p>11.1. <strong>CHAO活</strong>或用户违反本协议的约定即构成违约，违约方应当向守约方承担违约责任。  <br>
11.2. 如因用户提供的信息不真实、不完整或不准确给<strong>CHAO活</strong>或商家造成损失的，<strong>CHAO活</strong>有权要求用户对<strong>CHAO活</strong>或对商家进行损失的赔偿。  <br>
11.3. 如因用户违反法律法规规定或本协议约定，在<strong>CHAO活</strong>或利用<strong>CHAO活</strong>服务从事非法活动的，<strong>CHAO活</strong>有权立即终止继续对其提供<strong>CHAO活</strong>服务，注销其账号，并要求其赔偿由此给<strong>CHAO活</strong>造成的损失  <br>
11.4. 如用户以技术手段干扰<strong>CHAO活</strong>的运行或干扰其他用户对<strong>CHAO活</strong>使用的，<strong>CHAO活</strong>有权立即注销其<strong>CHAO活</strong>账号，并有权要求其赔偿由此给<strong>CHAO活</strong>造成的损失。  <br>
11.5. 如用户以虚构事实等方式恶意诋毁<strong>CHAO活</strong>或酒店的商誉，<strong>CHAO活</strong>有权要求用户向<strong>CHAO活</strong>或酒店公开道歉，赔偿其给<strong>CHAO活</strong>或酒店造成的损失，并有权终止对其提供<strong>CHAO活</strong>服务。 </p>



<h2 id="十二争议解决">十二、争议解决</h2>

<p>用户与<strong>CHAO活</strong>因本协议的履行发生争议的应通过友好协商解决，协商解决不成的，任一方有权将争议提交仲裁委员会依据该会仲裁规则进行仲裁。 </p>



<h2 id="十三协议生效">十三、协议生效</h2>

<p>本协议于用户点击<strong>CHAO活</strong>注册页面的同意注册并完成注册程序、获得<strong>CHAO活</strong>账号和密码时生效，对<strong>CHAO活</strong>和用户均具有约束力。</p></div></body></html>